.wrapper {
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
    min-height: rem(650px);
  }
  
  .title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
  }
  
  .item {
    border-radius: var(--mantine-radius-md);
    margin-bottom: var(--mantine-spacing-md);
    border: 1px solid var(--mantine-color-gray-3);
  }

  .text {
    font-family: var(--mantine-font-family);
    line-height: 1.6;
  }