.wrapper {
  width: 100%;
}

.widgetContainer {
  min-height: 200px;
}

.widgetCenter {
  display: flex;
  justify-content: center;
}

@media (max-width: 48em) {
  .wrapper {
    padding: 0 var(--mantine-spacing-xs);
  }

  .widgetContainer {
    padding: var(--mantine-spacing-md);
  }
}
