.shell {
  min-height: 100vh;
}

.header {
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .header {
  border-bottom-color: var(--mantine-color-dark-4);
}

.logo {
  font-weight: 700;
  color: var(--mantine-color-sage-6);
}

[data-mantine-color-scheme='dark'] .logo {
  color: var(--mantine-color-sage-4);
}

.navbar {
  background-color: var(--mantine-color-body);
  border-right: 1px solid var(--mantine-color-gray-3);
}

[data-mantine-color-scheme='dark'] .navbar {
  border-right-color: var(--mantine-color-dark-4);
}

.main {
  background-color: var(--mantine-color-gray-0);
}

[data-mantine-color-scheme='dark'] .main {
  background-color: var(--mantine-color-dark-8);
}
